/* IMPORTAR LETRA */

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

/* LETRA Y BORDER-BOX A EL TODO DOCUMENTO */

* {
  font-family: "Be Vietnam Pro", sans-serif;
  box-sizing: border-box;
  /*border: red solid 1px;*/
}

/* VARIABLE DE COLORES */

:root {
  --rojoBrillante: rgb(242, 95, 58);
  --azulOscuro: rgb(35, 44, 81);
  --azulGrisáceoOscuro: rgb(143, 148, 167);
  --azulMuyOscuro: rgb(29, 30, 37);
  --rojoMuyPálido: rgb(255, 239, 234);
  --varianteGrisClaro: rgb(249, 249, 249);
}

/* ----------------------BODY--------------------------- */

/* SACAR HAMBURGUESA DE HEADER */

.boxnavbar i {
  display: none;
}

/* SACAR CARROUSEL DE MAIN 3ª SECCION */

.carrousel i {
  display: none;
}

/* BODY 1ª IMAGEN DE FONDO */

body {
  background-image: url("../img/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 62.5rem -12.5rem;
}

/* MAIN 2ª IMAGEN DE FONDO */

main {
  background-image: url("../img/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: -31.25rem 62.5rem;
}

/* HEADER FLEX MARGEN Y ALINEACION */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5.69rem 9.12rem 5.69rem 10.31rem;
}

/* HEADER LOGO DIMENSION */

.logo {
  width: 9rem;
  height: 1.5rem;
}

/* HEADER LISTADO FLEX DECORACION ALINEACION Y PSEUDO */

nav ul {
  display: flex;
  list-style: none;
  gap: 2.65rem;
  padding: 0px;
  margin: 0px;
}

nav ul li a {
  text-decoration: none;
  color: var(--azulOscuro);
  font-weight: 500;
  font-size: 0.81rem;
}

nav ul li a:active {
  color: var(--azulGrisáceoOscuro);
}

/* VARIOS BOTONES COLOR DIENSION BORDE COLOR DE LETRA SIN BORDE SOMBRA Y PSEUDO*/

.botonnaranja {
  background-color: var(--rojoBrillante);
  width: 8.37rem;
  height: 2.75rem;
  border-radius: 3rem;
  font-weight: 600;
  color: var(--varianteGrisClaro);
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.botonnaranja:active {
  opacity: 70%;
  cursor: pointer;
}

/* MAIN 1ª SECCION CAJON FLEX Y MARGEN */

.home {
  display: flex;
  justify-content: space-between;
  margin: 5.69rem 9.12rem 5.69rem 10.31rem;
}

/* MAIN 1ª SECCION 1ª ARTICULO TITULO COLOR Y DISEÑO DE LETRA */

h1 {
  font-weight: 700;
  font-size: 3.62rem;
  margin: 0em;
  letter-spacing: -0.035em;
  color: var(--azulOscuro);
}

/* MAIN 1ª SECCION 1ª ARTICULO PARRAFO COLOR Y DISEÑO DE LETRA Y MEDIDA DE CAJON */

.home p {
  font-weight: 500;
  font-size: 1.03rem;
  margin: 1.75rem 0px;
  line-height: 157.1%;
  color: var(--azulGrisáceoOscuro);
  width: 23.12rem;
}

/* MAIN 2ª SECCION CAJON FLEX Y MARGENES */

.nosotros {
  display: flex;
  justify-content: space-between;
  margin: 5.69rem 9.12rem 5.69rem 10.31rem;
}

/*MAIN 2ª SECCION 1ª ARTICULO TITULO COLOR Y DISEÑO DE LETRA */

.frasenosotros h2 {
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--azulOscuro);
}

/* MAIN 2ª SECCION 1ª ARTICULO PARRAFO COLOR Y DISEÑO DE LETRA Y MARGEN */

.frasenosotros p {
  color: var(--azulGrisáceoOscuro);
  margin-right: 10em;
}

/* MAIN 2ª SECCION 2ª ARTICULO CAJON MARGEN*/

.ventajasnosotros {
  margin-left: 12rem;
}

/* MAIN  2ª SECCION 2ª ARTICULO CAJA PARA BOTON Y TITULO FLEX Y GAP */

.cajaventajabotonytitulo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* MAIN 2ª SECCION 2ª ARTICULO SPAN-BOTON COLOR DISEÑO REDONDEO COLOR DE LETRA Y DISEÑO DE NUMERO */

.botonnaranjita {
  background-color: var(--rojoBrillante);
  width: 4.31rem;
  height: 2.68rem;
  border-radius: 1.875rem;
  color: var(--varianteGrisClaro);
  padding-top: 0.6rem;
  text-align: center;
}

/* MAIN 2ª SECCION 2ª ARTICULO TITULO COLOR LETRA*/

.cajaventajabotonytitulo h3 {
  color: var(--azulOscuro);
}

/* MAIN 2ª SECCION 2ª ARTICULO PARRAFO ALINEACION Y COLOR DE LETRA*/

.cajaventajaparrafo {
  padding-left: 6em;
  color: var(--azulGrisáceoOscuro);
}

/* MAIN 3ª SECCION CAJON MARGENES */

.testimonios {
  margin: 5.69rem 0rem 5.69rem 0rem;
}

/* MAIN 3ª SECCION TITULO ALINEADO Y TAMAÑO Y COLOR DE LETRA */
.testimonios h2 {
  text-align: center;
  margin-bottom: 8rem;
  color: var(--azulOscuro);
  font-size: 2.25rem;
}

/* MAIN 3ª SECCION CAJA DE LAS 3 CARTAS FLEX */

.testimonios div {
  display: flex;
}

/* MAIN 3ª SECCION ARTICULOS-CARTA FLEX COLUM ALINEADO Y COLOR DE FONDO*/

.carta1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
  padding: 0px 1rem;
}

.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
  padding: 0px 1rem;
}

/* MAIN 3ª SECCION FOTO DISEÑADA Y POSICIONADA */

.cartaimg {
  width: 4.37rem;
  height: 4.37rem;
  position: relative;
  top: -2.18rem;
}

/* MAIN 3º SECCION DE CARTAS TITULO DE CARTAS COLOR LETRA*/

.testimonios h3 {
  color: var(--azulOscuro);
}

/* MAIN 3ª SECCION DE CARTA PARRAFO COLOR LETRA*/

.testimonios p {
  color: var(--azulGrisáceoOscuro);
}

/* MAIN 3ª SECCION BOTON FLEX Y CENTRADO*/

.centrado {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

/* MAIN 4ª SECCION COLOR IMAGEN DE FONDO Y FLEX*/

.naranja {
  background-image: url("../img/bg-simplify-section-desktop.svg");
  background-position: 120% 70%;
  background-repeat: no-repeat;
  background-color: var(--rojoBrillante);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15.43rem;
}

/* MAIN 4ª SECCION TITULO DISEÑO Y COLOR DE LETRA MARGEN Y DISEÑO*/

.naranja h2 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--varianteGrisClaro);
  margin-left: 10rem;
  width: 30rem;
}

/* MAIN 4ª SECCION BOTON COLOR SOMBRA DISEÑO Y PSEUDO*/

.botonblanco {
  background-color: #ffffff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  width: 8.37em;
  height: 2.75em;
  border-radius: 3rem;
  color: var(--rojoBrillante);
  border: none;
  margin-right: 10rem;
  font-weight: 600;
}

.botonblanco:active {
  color: rgba(242, 95, 58, 0.5);
  cursor: pointer;
}

/* FOOTER CAJON FLEX PADDING COLOR DE FONDO Y DISEÑO*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 4.69rem 9.12rem 4.69rem 10.31rem;
  background-color: #1e1e26;
  margin-bottom: 0px;
  height: 15.43rem;
}

/* FOOTER CAJA FLEX COLUMNAS */

.footerbox1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* FOOTER LISTADO COLOR TAMAÑO DE LETRA Y PSEUDO*/

.redes a {
  color: var(--varianteGrisClaro);
  font-size: 1.3rem;
}

.redes a:hover {
  color: var(--rojoBrillante);
}

/* FOOTER LISTA SACAR ESTILO*/

footer ul {
  list-style: none;
  margin: 0px;
}

/* FOOTER LISTA MARGENES DISEÑAR*/

footer li {
  padding: 0rem 0rem 1rem 0rem;

}

/* FOOTER ELEMENTO LISTA SIN DECORACION CON COLOR Y DISEÑO DE LETRA*/

footer ul li a {
  text-decoration: none;
  color: var(--varianteGrisClaro);
  font-weight: 400;
  font-size: 1em;

}

/* FOOTER INPUT CREAR BOTON CON COLOR SIN BORDE Y PSEUDO*/

input[type="submit"] {
  background-color: var(--rojoBrillante);
  width: 3.9rem;
  height: 2.6rem;
  border-radius: 1.875rem;
  color: var(--varianteGrisClaro);
  border: none;
  font-weight: 600;
}

input[type="submit"]:active {
  background-color: rgb(244, 125, 96);
  cursor: pointer;
}

/* FOOTER INPUT MAIL REDONDEADO*/

input[type="email"] {
  border-radius: 1.875rem;
  border: none;
  padding: 0.6rem;
}

/* FOOTER REDES FLEX PADDING Y PSEUDO*/

.redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.5rem;
}

footer ul li a:active {
  color: var(--rojoBrillante);
}

/* FOOTER COPYRIGHT COLOR Y PADDING*/

.copy {
  color: var(--azulGrisáceoOscuro);
  padding-top: 3rem;
}

/* --------------Mobile: 375px----------- */

@media (max-width: 450px) {

  /*IMAGEN DE FONDO*/




  body {
    margin: 0px;
    background-position: 0rem 0rem;
    background-size: 150%;
    background-position: 2rem -10rem;
  }

  main {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 14rem 27rem;
  }

  /* HEADER ARREGLAR MARGENES */
  header {
    margin: 2rem 1.5rem 4rem 1.5rem;

  }

  /*HEADER HAMBURGUEZA DISEÑO Y MARGUENES*/
  .boxnavbar i {
    display: initial;
    color: var(--azulOscuro);
    font-size: 2rem;
    font-weight: 900;

  }

  /*HEADER DESAPARECER LISTADO*/

  .boxnavbar nav {
    display: none;
  }

  /*HEADER DESAPARECER BOTON*/

  .boxnavbar button {
    display: none;
  }

  /*HEADER FLEX */

  .boxnavbar {
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
  }

  /*MAIN 1ª SECCION FLEX COLUMNAS PARA CAMBIAR DISPOSICION*/

  .home {
    flex-direction: column-reverse;
    align-content: flex-start;
    margin: 0rem 0rem 0rem 0rem;
  }

  /*MAIN 1ª SECCION TITULO ALINER */

  h1 {
    text-align: center;
    font-size: 2.8rem;
  }

  /* MAIN 1ª SECCION PARRAFO ALINEAR Y DIAGRAMAR*/

  .home p {
    text-align: center;
    letter-spacing: 0.05rem;
  }

  /* MAIN 1ª SECCION PARRAFO BOTON CENTRAR */

  .frasehome button {
    margin-left: 7.5rem;
    
  }

  /* MAIN 1ª SECCION FOTO DIAGRAMAR*/
  .graficas img {
    width: 375px;
  }

  /* MAIN 2ª SECCION FLEX COLUMNA Y MARGENES */

  .nosotros {
    margin: 0px;
    margin-top: 3rem;
    flex-direction: column;
  }

  /* MAIN 2ª SECCION TITULO CENTRAR Y DIAGRAMAR */

  .frasenosotros h2 {
    text-align: center;
  }

  /* MAIN 2ª SECCION PARRAFO CENTRAR Y DIAGRAMAR */

  .frasenosotros p {
    text-align: center;
    width: 23rem;

    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }

  /* MAIN 2ª SECCION CAJA SACAR MARGEN Y ALINEAR */

  .ventajasnosotros {
    margin-left: 0px;
    margin-top: 4rem;
  }

  /* MAIN 2ª SECCION TITULO LETRA */

  .ventajasnosotros h3 {
    font-size: 1rem;

  }

  /*MAIN 2ª SECCION FRANJA ROSADA*/
  .cajaventajabotonytitulo {
    background-color: rgba(242, 95, 58, 0.2);
    height: 8vh;
  }

  /* MAIN 2 SECCION PARRAFO DISEÑAR Y LETRA*/

  .cajaventajaparrafo {
    padding-left: 0rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }

  /*MAIN 3ª SECCION CAJA DISEÑAR*/

  .testimonios {
    margin: 0rem 0rem 0rem 0rem;
  }

  /*MAIN 3ª SECCION TITULO*/

  .testimonios h2 {
    text-align: center;
  }

  /*MAIN 3ª SECCION OCULTAR CARTAS*/

  .carta {
    display: none;
  }

  /*MAIN 3ª SECCION DIMENSIONAR CARTA*/

  .testimonios h2 {
    margin-bottom: 6.5rem;
  }

  .centrado {
    padding-top: 7rem;
  }

  .carta1 {
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
  }

  /*MAIN 3ª SECCION MOSTRAR CARROUSEL*/

  .carrousel i {
    display: initial;
    font-size: 0.5rem;
  }

  /*MAIN 3 SECCION CARROUSEL FLEX COLOR Y DISEÑAR*/
  .testimonios div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--rojoBrillante);
    gap: 3rem 0.3rem;

  }

  /*MAIN 3 SECCION BOTON DISEÑAR*/
  .centrado {
    padding-top: 3rem;
  }

  /*MAIN 4ª SECCION  DIMENSIONAR CAJA Y FLEX COLUMN*/

  .naranja {
    flex-direction: column;
    justify-content: center;
    height: 25rem;
    margin-top: 3.5rem;
    background-position: -26rem -3rem;
  }

  /* MAIN 4ª SECCION TITULO DIMENSIONAR Y ALINEAR*/
  .naranja h2 {
    width: 300px;
    text-align: center;
    margin-left: 0rem;
    margin-top: 5rem;
    font-size: 2.2rem;
  }

  /* MAIN 4ª SECCION BOTON DIMENSIONAR*/

  .botonblanco {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }

  /* FOOTER DIMENSIONAR Y SACAR LOGO*/

  footer {
    flex-direction: column-reverse;
    padding: 0rem 0rem 0rem 0rem;
    height: 32rem;
    margin-bottom: 0px;
  }

  /*FOOTER MAIL ALINEAR Y FLEX*/
  .formulariofooter form {
    display: flex;
    /*justify-content: space-between;*/
    /*margin: -4rem 4rem 0rem 3.5rem;*/
    position: relative;
    top: 7rem;
  }

  /*FOOTER LOGO ALINEAR*/

  .logofooter {
    text-align: center;
    position: relative;
    top: 2rem;
  }

  /* FOOTER REDES ALINEAR FLEX*/
  .redes {
    justify-content: space-around;
    position: relative;
    bottom: 10rem;
    margin: 0rem 1rem;
  }

  /*FOOTER AGRANDAR ICONOS*/

  .redes a {
    font-size: 2rem;
  }

  /*FOOTER COPYRIGHT ALINEAR Y CENTRAR*/
  .copy {
    text-align: center;
    position: relative;
    top: 24rem;
    font-size: 0.8rem;
  }

  /*FOOTER 1ºLISTADO ALINEAR */

  .primerlistado {
    position: relative;
    bottom: 5rem;
    left: 1.2rem;
  }

  /*FOOTER 2ºLISTADO ALINEAR */

  .segundolistado {
    position: relative;
    bottom: -1.8rem;
    left: 11.2rem;
    width: 11rem;
  }

  /*FOOTER MAIL ALARGAR*/

  input[type="email"] {
    width: 15rem;
  }

  /*FOOTER MAIL BOTON ALARGAR*/

  input[type="submit"] {
    width: 4.7rem;
  }

  /*FOOTER MAIL MARGEN JUSTIFY Y DIAGRAMAR */

  .formulariofooter form {
    margin: 0rem;
    justify-content: center;
    top: 4rem;
    gap: 0.5rem;
  }







}